<td><%= reservation.escape('start_date') %></td>
<td><%= reservation.escape('end_date') %></td>
<td><%= reservation.escape('boat') %></td>
<td><%= reservation.get('approved') ? "Approved" : "Pending" %></td>