<h3>Create a Boat</h3>
<div class="container">
	<div class="row">
		<form class="col-xs-4">
			
			<div class="input-group">
				<input type="file" class="my-photo-upload">
			</div>
			
			<div class="input-group">
			  <span class="input-group-addon">Boat Title</span>
			  <input type="text" class="form-control" name="boat[title]">
			</div>

			<div class="input-group">
			  <span class="input-group-addon">$</span>
			  <input type="text" class="form-control" name="boat[price]">
			  <span class="input-group-addon">.00</span>
			</div>
			
			<div class="input-group">
				<span class="input-group-addon">Location</span>
			  <input type="text" class="form-control" name="boat[location]">
			</div>
			
			<div class="input-group">
			  <label class="control-label" for="textarea">Description</label>
			  <div class="controls">                     
			    <textarea id="textarea" name="boat[description]"></textarea>
			  </div>
			</div>
			<input class="btn btn-primary" type="submit" value="Create Boat">
		</form>
	</div>
</div>