 
<div class="panel panel-default">
	<h3 class="panel-heading"><%= boat.escape('title') %></h3>
	<div class="panel-body">
		<div class="col-xs-2">
			<i src="http://placehold.it/350x150"></i>
			<i class="glyphicon glyphicon-envelope"></i><%= boat.escape('username') %>
		</div>       
		<div class="col-xs-4">
			<%= boat.escape('description') %>     
		</div>       
		             
	</div>         
</div>                      