<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<img class="navbar-brand" src="/assets/WAKEbnb-Logo-Small.png">	
			<a class="navbar-brand" href="#">WakeBnB</a>
		
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ol id="navbar-buttons">
			
			</ol>

		</div>
	</div>
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<%= flash[:errors].join("<br>") %>
</div>
<% end %>



<div class="modal fade login-modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Sign In</h4>
			</div>
			<div class="modal-body">
				<form class="form" id="signin-form" role="form" action="/session" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<div class="form-group">
						<input type="text" 
						class="form-control" 
						placeholder="Enter Username" 
						name="user[username]"
						>
					</div>
	
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" name="user[password]">
					</div>
					<input type="submit" value="Sign In" class="btn btn-primary">
				</form>
			</div>
				
		</div>
	</div>
</div>

<div class="modal fade signup-modal" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Sign Up</h4>
			</div>
					
			<div class="modal-body">

				<form class="form" role="form" id="signup-form" action="/users" method="post">
					<input 
					type="hidden" 
					name="authenticity_token" 
					value="<%= form_authenticity_token %>">
	
					<div class="form-group">
						<input type="text" 
						class="form-control" 
						placeholder="Enter Username" 
						name="user[username]"
						>
					</div>
							
					<div class="form-group">
						<input type="password" 
						class="form-control"
						placeholder="Password" 
						name="user[password]"
						>
					</div>
					<input type="submit" value="Sign Up" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
</div>
	